# Copy this file to .env and set your real key. Do NOT commit .env
STABILITY_API_KEY=your_real_stability_api_key_here # Stability AI API Key to access image generation features
LEONARDO_API_KEY=your_real_leonardo_api_key_here # Leonardo AI API Key to access image generation features
MY_IP=your_ip_address_here # Optional: for IP-restricted rateLimit exclusion
PORT=4747
NODE_ENV=development
#NODE_ENV=production
# Other environment variables can be added here as needed like
# DATABASE_URL=your_database_url_here
# SECRET_KEY=your_secret_key_here
# DEBUG=true
# LOG_LEVEL=info
#
# Make sure to keep this file secure and do not expose sensitive information.