.footer {
    display: flex;
    background-color: #cc3232;
    padding: 10px;
    align-items: baseline;
    text-align: center;
    height: fit-content;
    margin-bottom: 0;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #4e2222;
}
